
tr:not(:first-child){
    opacity: 0;
    animation-name: animate;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes animate {
    from { opacity: 0;} 
     to  {opacity: 1;} 
}

